<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>老师个人综合后台</title>
<link href="__PUBLIC__/css/layout.css" rel="stylesheet" type="text/css">
<link href="__PUBLIC__/css/lsgrzhht.css" rel="stylesheet" type="text/css">


<meta name="Keywords" content="中国某某教育辅导" />
<meta name="Description" content="中国某某教育辅导" />

</head>

<body>
<!--头部-->
<div id="header">
   <div id="header_main">
     <img src="__PUBLIC__/images/logo.jpg"/>
      <a href="__URL__/logout" style="border: solid 1px #ffa200; color:#ffa200;">退出登录</a>
   </div>
</div>
<!--导航-->
<div id="nav">
  <div id="nav_main">
     <ul>
       <li><a href="__URL__">网站首页</a></li>
       <li><a href="老师教辅首页.html">我的课程</a></li>
       <li><a href="老师个人信息修改页面.html">我的信息</a></li>
       <li><a href="#">我的社交</a></li>
       <li><a href="老师资料管理.html">我的文件</a></li>
     </ul>  
  </div>
</div>

<!--导航-->
<div id="banner">
   <img src="__PUBLIC__/images/banner.jpg"/>
</div>

<!--主体-->
<div id="container">
<!--老师个人综合后台-->
   <div class="dmjg_jbjg">
      <div class="zddm_jbxxcon">
       <div class="zhht_con">
         <div class="zhht1"><a href="__URL__/teacherMainpage">我的课程</a></div>
         <div class="zhht2"><a href="老师个人信息修改页面.html">我的信息</a></div>
         <div class="zhht3"><a href="#">我的社交</a></div>
         <div class="zhht4"><a href="老师创建课程.html">创建课程</a></div>
         <div class="zhht5"><a href="#">XXX</a></div>
         <div class="zhht6"><a href="#">XXX</a></div>
         <div class="zhht7"><a href="老师资料管理.html">资料管理</a></div>
         <div class="zhht8"><a href="老师作业列表.html">作业管理</a></div>
         <div class="zhht9"><a href="#">XXX</a></div>
         <div class="zhht10"><a href="#">XXX</a></div>
         <div class="clear"></div>
        </div>
      </div>
   </div> <!--老师个人综合后台完-->  

  <div class="clear"></div>
  <!--友情链接-->
  <div id="index_yqlj">
    <span>友情链接:</span>&nbsp;&nbsp;&nbsp; <a href="#">友情链接内容</a>&nbsp; |&nbsp;  <a href="#">友情链接内容</a>&nbsp;  | &nbsp; <a href="#">友情链接内容</a>&nbsp;  |&nbsp;  <a href="#">友情链接内容</a> &nbsp; |&nbsp;  <a href="#">友情链接内容</a> &nbsp; |&nbsp;  <a href="#">友情链接内容</a>&nbsp;   |  &nbsp;<a href="#">友情链接内容</a>  &nbsp;| &nbsp; <a href="#">友情链接内容</a>&nbsp;  | &nbsp; <a href="#">友情链接内容</a> 
  </div>
  
</div><!--主体完-->
<!--底部-->
<div id="footer">
<a href="#">关于我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">广告投放</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">招聘信息</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">版权信息</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">免责声明</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">联系我们</a><br>教育部教育管理信息中心主办 京ICP备15022426号
</div>

</body>
</html>
